# Ignorar la carpeta node_modules
node_modules/

# Ignorar el archivo .env que contiene variables sensibles
.env

# Ignorar la carpeta postgres (si la usas localmente para alguna base de datos o almacenamiento)
postgres/

# Ignorar los archivos generados de Prisma
prisma/generated
